# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store

# Env
.env
.env.*
!.env.example

# Vite
*.local
